<h3>Currently selected: {{clickedAmount}}</h3>

<div class="money-containers">
  <div class="money--item">
    <button onclick={{action 'changeClickedAmount'}}>{{wagerAmount}}</button>
  </div>
  <div class="money--item">
    <button onclick={{action 'changeClickedAmount'}}>{{math-op wagerAmount 3 "*"}}</button>
  </div>
  <div class="money--item">
    <button onclick={{action 'changeClickedAmount'}}>{{math-op wagerAmount 4 "*"}}</button>
  </div>
</div>

<br />
<div id="ui-slider"></div>