<li class="pet">
  {{pet-picture 
    vertices=pet.vertices 
    colour=pet.colour
  }}
  
  {{#if petState}}
    {{display-pet-state
      petState=petState
    }}
  {{/if}}

  <h3>{{pet.name}}</h3>
  <h4>Level: {{pet.level}}</h4>

  {{#unless petState}}
    {{#each pet.stats as |stat|}}
      {{stat-display
        stat=stat
      }}
    {{/each}}
    
    <h1> Items</h1>
    {{#each pet.items as |item|}}
      {{item-display 
        item=item
        destroy=(route-action 'removeItem')
        pet=pet
      }}
    {{/each}}
  {{/unless}}
  {{!-- NTD: should be serialized but isn't with nested relationship being used --}}

</li>
{{!-- pet-view --}}
