<div class="gutters">
  <br />
  {{#if (eq session.currentUser.uid null)}}
    {{#if sessionTorii.isWorking}}
      One sec while we get you signed in...
    {{else}}
      {{error}}
      <button onclick={{action 'linkAccount'}}>
        Link your steam account
      </button>
    {{/if}}
  {{else}}
    <h1 class="steam-id">{{session.currentUser.uid}}</h1>
    <div class="linked-account">Your Steam account is linked</div>
  {{/if}}

  {{money-slider    
    wagerStart=1
    wagerEnd=10
  }}

  <h2>
    Won Battles: {{wonBattles.length}}
  </h2>
  {{progress-bar widthPercent=winPercent class="income-bar"}}
  <h2>
    Lost Battles: {{lostBattles.length}}
  </h2>
  {{progress-bar widthPercent=lossPercent class="expense-bar"}}

  <h2> Battle Summaries </h2>
  {{monthly-overview-chart
    battles=battles    
  }}

  <h2>
    Average win ratio per day:
    {{avgWinRatioPerDay}}
  </h2>
</div>