<div class="gutters">

  <div class="charts">
    {{gauge-chart
      two=kills
      one=deaths
      title="K/D"
      targetClass="kd"
      labelsPassed='["Kills", "Deaths"]'
    }}

    <div class="moneys">
      <div class="money-breakdown">
        {{money-earned
          totalMoneyEarned=totalMoneyEarned
          text="Money Earned"
        }}
        {{money-earned
          totalMoneyEarned=5001
          text="Money Lost"
        }}
      </div>
      <div class="active-games">
        {{active-games-breakdown
          text="Recent Games Played"
        }}
      </div>
    </div>

    {{gauge-chart
      two=totalShotsMissed
      one=totalShotsHit
      title="Shot Accurracy"
      targetClass="sa"
      labelsPassed='["Hit", "Missed"]'
    }}
  </div>
  
  {{!-- {{#each model as |gs|}}
    <p>{{gs.name}}: {{gs.value}}</p>
  {{/each}} --}}
</div>
