<div class="full-arena">
  {{#if winnerFound}} 
    {{#modal-dialog class="modal battledome"}}
      <div class="modal-text">
        This Battle is done!
      </div>
    {{/modal-dialog}}
  {{/if}}

  <div class="arena">
    {{#each petStates as |petState index|}}
      {{#if (eq index 1)}}
        <div class="vs-ctn">
          <div class="vs">VS</div> 
        </div>
      {{/if}}

      <div class="challenger {{if (eq petState.pet.user.email currentUser.email) 'your-pet' ''}}">
        {{pet-view
          pet=petState.pet
          vertices=petState.pet.vertices
          petState=petState
        }}

        <div class="buttons">          
          {{#if (eq battle.currentTurnEmail session.currentUser.email)}}
            {{#if (eq petState.pet.user.email currentUser.email)}}
              {{#if notWinnerFound}}
                <button class="btn" {{action 'sendMessage' 'attack'}}>Attack</button>
                <button class="btn" {{action 'sendMessage' 'defend'}}>Defend</button>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>


    {{/each}}
  </div>

  <header id="header" class="battledome">  
    <h1> Battledome</h1>
    {{!-- <h2>Status: {{battle.status}}</h2>
    <h2>Status: {{winnerFound}}</h2> --}}

    <hr/>

    <h2>{{battle.challengerEmail}} <br/>VS<br/> {{battle.challengedEmail}} </h2>

    <hr/>

    <h3>{{battle.challengerPet.name}} VS {{battle.challengedPet.name}}</h3>

    <hr/>
    <h3>Current Turn: {{battle.currentTurn}}</h3>
  </header><!-- /header -->
</div> 