<div class="form-container">
  <form {{action "signup" email password on="submit"}}>
    <h2>Sign up</h2>
    {{input value=email placeholder="email"}}
    {{input value=password type="password" placeholder="password"}}
    
    {{#if signupError}}
      <p> {{signupError}} </p>
    {{/if}}

    <button {{action "signup" email password disabled=isSigningUp}}>
      {{#if isSigningUp}}
        Signing up...
      {{else}}
      Sign up
      {{/if}}
    </button>
  </form>
  {{#link-to 'login'}}
    Login
  {{/link-to}}
</div>